<div class="c-header">
  <div class="row middle-md around-md header-top">
    <div class="col-md-2 middle-md header-logo">
      <img src="assets/logos/logo.png" class="logo" alt="Logo">
    </div>
    <div class="col-md-7 header-search">
      <mat-form-field class="search-form">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Buscar">
      </mat-form-field>
    </div>
    <div class="col-md-3 header-register">
      <button mat-raised-button class="register-button">
        Registra tu auto
      </button>
    </div>
    <div class="col-md-2 header-icons">
      <mat-icon>notifications</mat-icon>
      <mat-icon>shopping_cart</mat-icon>
    </div>
  </div>
  <div class="row middle-md center-md header-bottom">
    <div class="col-md-9 nav-links">
      <span>Categorías</span>
      <span>Ofertas</span>
      <span>Tiendas Oficiales</span>
      <span>Vender</span>
      <span>Marcas</span>
    </div>
    <div class="col-md-3 header-login">
      <span>Ingresar</span>
    </div>
  </div>
</div>
