<footer class="footer">
  <div class="footer-container">
    <div class="footer-section logo-section">
      <img src="assets/logos/logo.png" alt="Logo" class="footer-logo">
    </div>
    <div class="footer-section">
      <h3>Conoce más</h3>
      <ul>
        <li><a href="#">Nuestra Visión</a></li>
        <li><a href="#">Cómo vender</a></li>
        <li><a href="#">Cómo comprar</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Seguridad en</h3>
      <ul>
        <li><a href="#">Envíos</a></li>
        <li><a href="#">Formas de pago</a></li>
        <li><a href="#">Garantías y Devoluciones</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contactanos</h3>
      <ul>
        <li>Teléfono: 123-456-7890</li>
        <li>Correo: mail@mail.com</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Privacidad</h3>
      <ul>
        <li><a href="#">Aviso de privacidad</a></li>
        <li><a href="#">Términos y Condiciones</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Social</h3>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-x"></i></a></li>
        <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <hr>
    <p>&copy; 2023, All Rights Reserved</p>
  </div>
</footer>
